# Local configuration and installed dependencies.
/vendor/
/node_modules/

# Runtime files generated on each environment.
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
.phpunit.result.cache
